---
import Layout from "../../layouts/Layout.astro";
import HomeBtn from "../../components/HomeBtn.astro";
---

<Layout title="Comments">
    <main>
        <HomeBtn />
        <div>
            <div class="portImg">
                <img
                    class="port"
                    src="https://atsio.xyz/static/portrait/20201202_134340.webp"
                    alt="Image"
                    aria-hidden="true"
                />
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        min-height: 100vh;
    }
    .portImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5.5em;
    }

    .port {
        border-radius: 8px;
        width: 1000px;
        height: auto;
    }

    @media (max-width: 1000px) {
        .port {
            width: 600px;
        }
    }

    @media (max-width: 800px) {
        .port {
            width: 500px;
        }
    }

    @media (max-width: 600px) {
        .port {
            width: 400px;
        }
    }

    @media (max-width: 400px) {
        .port {
            width: 300px;
        }
    }
</style>
