---
import Layout from "../layouts/Layout.astro";
import HomeBtn from "../components/HomeBtn.astro";
---

<Layout title="About">
  <main>
  <HomeBtn />

  <h1>Welcome to Alpha Tree Service</h1>
    <div class="txtDiv">
      <p>
        Alpha Tree Service offers high-quality tree services at competitive
        prices. We specialize in tree removal, trimming, view clearing, and wind
        sailing. Whether you need residential or commercial services, we are
        here to help. Our team is experienced in handling storm-damaged trees
        that have fallen on your property. With unpredictable weather, we
        understand the urgency of removing fallen trees from your home or yard.
        Safety is our top priority, and we have the necessary tools and
        expertise to get the job done safely. With 15 years of experience in the
        tree industry, you can trust us to provide professional and reliable
        service. Contact us today to <a href="/postesti">schedule a time</a> for a quote!
      </p>
    </div>

    <div class="txtDiv">
      <p class="head">License Information</p>
      <hr />
      <p>General Construction Contractor License</p>
      <p>McBride II, Curtis Dale Owner</p>
      <p>Alpha Tree Service</p>
      <p>License: ALPHATS84409</p>
      <p>Effective: 09/29/2016</p>
      <p>Experation: 10/07/2024</p>
      <p>Address: P.O. Box2506, Belfair, WA 98528</p>
    </div>

    <div class="txtDiv">
      <p class="head">Bond Information</p>
      <hr />
      <p>The North River Insurance Company</p>
      <p>Bond: 46CF818335</p>
      <p>Effective: 08/20/2023</p>
      <p>Experation: Until Cancelled</p>
    </div>

    <div class="txtDiv">
      <p class="head">Insurance Information</p>
      <hr />
      <p>Northfield Insurance Company</p>
      <p>Policy: WS562610</p>
      <p>Effective: 08/14/2023</p>
      <p>Experation: 08/14/2024</p>
    </div>
 </main>
</Layout>

<style>
  a {
    color: blue;
    /* text-decoration: none; */
  }
  main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
  .mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
  }
  .head {
    font-size: 2rem;
    font-weight: bold;
    color: purple;
    margin: 1rem;
  }
  hr {
    width: 75%;
    height: 1.5px;
    background-color: blue;
  }
  .txtDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    border: 2px solid blue;
    border-radius: 8px;
  }
  p {
    font-size: 1.25rem;
    color: antiquewhite;
    padding: 7px;
    margin: 1rem;
  }
  h1 {
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    margin: 1rem;
  }

  @media (max-width: 768px) {
    .txtDiv {
      margin: 1rem;
    }
    p {
      font-size: 1rem;
      color: antiquewhite;
      text-align: center;
      margin: 0;
    }
    h1 {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: antiquewhite;
      text-align: center;
      margin: 2.5rem 1rem 0rem 1rem;
    }
  }
</style>
