---
import Layout from "../layouts/Layout.astro"
import HomeBtn from "../components/HomeBtn.astro"
import { Image } from 'astro:assets';
---

<Layout title="Comments">
    <HomeBtn />
    <div class="text-column">
        <h1>Image Gallery</h1>

        <div class="landDiv">
            <a href="/landscape/land01">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20201202_121518_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land02">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20211023_111607_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land03">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20220727_110613_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land04">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20220731_112107_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land05">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20220731_112129_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land06">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20220731_112346_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/landscape/land07">
                <Image
                    class="land"
                    src="https://atsdo.xyz/images/landscape/20220731_112348_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
        </div>

        <div class="portDiv">
            <a href="/portrait/port01">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20190612_092955_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port02">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20190612_093224_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port03">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20190722_101948_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port04">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20190722_102001_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port05">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20190722_102058_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port06">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20200630_100214_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port07">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20200630_100322_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port08">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20200630_100327_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port09">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20200630_100331_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
            <a href="/portrait/port10">
                <Image
                    class="port"
                    src="https://atsdo.xyz/images/portrait/20200819_145521_thumb.webp"
                    alt="test1"
                    width='280'
                    height="200"
                />
            </a>
        </div>
    </div>
</Layout>

<style>
    .portDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2.5em;
    }
    .port {
        width: 280px;
        height: auto;
        border-radius: 8px;
        margin: 1em;
    }
    .landDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .land {
        width: 280px;
        height: auto;
        border-radius: 8px;
        margin: 1em;
    }
</style>
