---
import Layout from "../layouts/Layout.astro";
import HomeBtn from "../components/HomeBtn.astro";
import Telephone from "../components/Telephone.astro";
---

<Layout title="Images">
    <main>
        <HomeBtn />
        <div class="text-column">
            <Telephone />

            <div class="landDiv">
                <a href="/landscape/land01">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20201202_121518_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land02">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20211023_111607_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land03">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220727_110613_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land04">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220731_112107_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land05">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220731_112129_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land06">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220731_112346_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land07">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220731_112348_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land08">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20211022_083103_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land09">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20211023_111619_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/landscape/land10">
                    <img
                        class="land"
                        src="https://atsio.xyz/static/landscape/20220731_112129_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
            </div>

            <Telephone />

            <div class="portDiv">
                <a href="/portrait/port01">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20190612_092955_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port02">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20190612_093224_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port03">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20190722_101948_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port04">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20190722_102001_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port05">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20190722_102058_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port06">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200630_100214_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port07">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200630_100322_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port08">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200630_100327_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port09">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200630_100331_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port10">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200819_145521_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port11">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122208_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>


                <a href="/portrait/port12">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122216_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port13">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122218_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port14">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122219_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port15">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122220_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port16">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200703_122229_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port17">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200929_110744_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port18">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200929_133219_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port19">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20200929_133225_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port20">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20201119_100147_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port21">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20201202_134340_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port22">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_111858_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port23">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_111902_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port24">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_113656_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port25">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_113707_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port26">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_130013_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port27">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_131757_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port28">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_131804_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port29">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210114_131809_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port30">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210703_114202_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port31">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210703_114203_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port32">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210703_114205_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port33">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210709_084059_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port34">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210709_093636_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port35">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210709_093705_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port36">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210709_093724_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port37">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210709_093733_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port38">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210728_110226_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port39">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210728_110233_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port40">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210728_110344_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port41">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210803_143438_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port42">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110234_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port43">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110237_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port44">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110253_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port45">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110316_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port46">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110336_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port47">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110340_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port48">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110605_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port49">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110619_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port50">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210901_110629_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port51">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210903_114214_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port52">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210918_105104_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port53">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210918_105122_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port54">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210918_105132_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port55">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20210918_112452_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port56">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20211016_144859_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port57">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20211021_145212_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port58">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20211022_081949_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port59">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20211022_082327_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port60">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20211023_111603_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port61">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20220727_110737_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port62">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20220727_110747_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port63">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20230110_130605_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port64">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20230110_130725_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port65">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/20230110_130732_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port66">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/received_2816359661929547_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
                <a href="/portrait/port67">
                    <img
                        class="port"
                        src="https://atsio.xyz/static/portrait/received_3341614045887235_thumb.webp"
                        alt="test1"
                        width="280"
                        height="200"
                    />
                </a>
            </div>
        </div>
        <Telephone />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        min-height: 100vh;
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .portDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2.5em;
    }
    .port {
        width: 280px;
        height: auto;
        border-radius: 8px;
        margin: 1em;
    }
    .landDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .land {
        width: 280px;
        height: auto;
        border-radius: 8px;
        margin: 1em;
    }
</style>
