---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Telephone from "../components/Telephone.astro";
import Card from "../components/Card.astro";
import ComCard from "../components/ComCard.astro";
import FiveStar from "../components/star_five.astro";
---

<Layout title="Alpha Tree Service">
	<main>
		<Title />

		
		<picture>
			<source
				media="(min-width: 600px)"
				srcset="https://atsdo.xyz/images/landscape/main_img_600.webp"
			/>
			<source
				media="(min-width: 380px)"
				srcset="https://atsdo.xyz/images/landscape/main_img_400.webp"
			/>
			<img
				class="mainImg"
				src="https://atsdo.xyz/images/landscape/main_img_800.webp"
				alt="Alpha Tree Service"
			/>
		</picture>
		
		<Telephone />

		<p class="emerg">24/7 Emergency Service</p>
		
		<div>
			<ul class="link-card-grid">
				<Card
					href="/about"
					title="About"
					body="A brief history of Alpha Tree Service, along with our lisence, bond and insurance information."
				/>
				<Card
					href="/services"
					title="Services"
					body="Come see what services we offer."
				/>
				<Card
					href="/postesti"
					title="Estimates"
					body="Not sure how much your project will cost? We will happily come out and give you a free estimate. Schedule your estimate today!"
				/>
				<Card
					href="/imgthumbs"
					title="Images"
					body="Explore our image gallery of past jobs done in Kitsap, Mason, Pierse counties."
				/>

				<Card
					href="/vidthumbs"
					title="Videos"
					body="Explore our video gallery and sign up to our Youtube channel."
				/>
				<Card
					href="/postcom"
					title="Testimonials"
					body="Discover what our valued customers are saying. We would appreciate your feedback."
				/>
			</ul>
		</div>
		<ComCard
			name="Lora W."
			date="May 21, 2023"
			stars="5"
			comment=`A tree from my property uprooted and leaned on the neighbors shed, 
      with the top 2/3 beyond the shed threatening the neighbor's house. 
      I called a couple of big services that took 2-3 days to get me high bids. 
      I heard about Curtis from a friend and gave him a call. He was in the 
      area, went right over, called back with a bid that was less than half 
      the other bids and took the tree down safely while there! 
      Amazing service, quality work, reasonable price...perfect!`
		/>

		<Telephone />

		<footer>
			<p class="flag">Ask about Veterans Discounts!</p>
			<!-- <p> 🇺🇸</p> -->
		</footer>
	</main>
</Layout>

<style>
	p {
		font-size: 1.25rem;
		color: antiquewhite;
		margin: 1rem;
	}
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		background: black;
		color: white;
		padding: 1rem;
		margin-top: 2rem;
	}
	.emerg {
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		color: red;
		margin-bottom: 2rem;
	}
	.mainComment {
		border-style: solid;
		border-width: 1px;
		border-color: red;
		border-radius: 8px;
	}
	.mainImg {
		border-radius: 8px;
		margin-bottom: 1.5rem;
		width: 800px;
		height: auto;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		margin-bottom: 1rem;
	}
	@media (max-width: 400px) {
		p {
			font-size: 1.1rem;
		}
		.emerg {
			font-size: 1.5rem;
		}
	}
</style>
