---
import Layout from "../layouts/Layout.astro";
import HomeBtn from "../components/HomeBtn.astro";
import ComCard from "../components/ComCard.astro";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        console.log(data);
        const name_raw = data.get("name");
        let name_str = name_raw.toString();
        let name = name_str.trim();
        const alphanumericRegex = /^[a-zA-Z0-9]+$/;
        const isNameValid = alphanumericRegex.test(name);
        if (!isNameValid) {
            alert(
                "Name is a required field and must be alphanumeric.\nPlease refresh the page and try again",
            );
        }

        const email_raw = data.get("email");
        let email_str = email_raw.toString();
        let email = email_str.trim();
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const isEmailValid = emailRegex.test(email);
        if (!isEmailValid) {
            alert(
                "Email is a required field and must be valid.\nPlease refresh the page and try again",
            );
        }

        const rating_raw = data.get("rating");
        let rating_str = rating_raw.toString();
        let rating = rating_str.trim();
        const ratingRegex = /^[1-5]+$/;
        const isRatingValid = ratingRegex.test(rating);
        if (!isRatingValid) {
            alert("Rating must be 1-5.\nPlease refresh the page and try again");
        }

        const comment_raw = data.get("comment");
        let comment_str = comment_raw.toString();
        let comment = comment_str.trim();
        const commentLength = comment.length;
        const isCommentValid = commentLength > 0;
        if (!isCommentValid) {
            alert(
                "Comment must not be empty.\nPlease refresh the page and try again",
            );
        }

    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        // event.preventDefault();
        // this.reset();
        const spinner = document.createElement("div");
        spinner.classList.add("spinner");
        spinner.innerHTML = `
    <svg
        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
    >
        <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
        ></circle>
        <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0
            0012 20c4.411 0 8-3.589 8-8h-2c0 3.309-2.691 6-6 6-1.74
            0-3.308-.736-4.427-1.91L6 13.29z"
        ></path>
    </svg>
    `;
        this.querySelector("button").setAttribute("disabled", "disabled");
        this.querySelector("button").prepend(spinner);
        setTimeout(() => {
            this.querySelector("button").removeAttribute("disabled");
            this.querySelector("button").querySelector(".spinner").remove();
        }, 2000);
        window.location.href="/thankyou"
    });
</script>
<Layout title="Comments">
    <HomeBtn />
    <main>
        <ComCard
            name="Sophie H."
            date="July 19, 2022"
            stars="5"
            comment=`Honest;punctual;immaculate workmanship;cautious;great demeanor;
            accommodating;&all around FIVE STARS IR MORE IF THERE’s such a thing❣️I’d 
            recommend this crew to anyone needing tree services.The owner Mr. Curtis 
            McBride is truly an honorable and very capable gentleman.`
        />
        <ComCard
            name="John K."
            date="September 22, 2020"
            stars="5"
            comment=`Great work and excellent clean up.`
        />
        <p class="leaveCom">Please Leave A Comment</p>
        
        <div class="mainDiv">
            <!-- <button class="showForm">Send A Comment</button> -->

            <form
                action="https://atsio.xyz/addcom"
                method="POST"
                enctype="multipart/form-data"
                class="comDiv w-full max-w-sm"
            >
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/3">
                        <label
                            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="inline-name"
                        >
                            Name
                        </label>
                    </div>
                    <div class="md:w-2/3">
                        <input
                            name="name"
                            class="name-input bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="inline-name"
                            type="text"
                            placeholder="Jane Doe"
                        />
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/3">
                        <label
                            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="inline-email"
                        >
                            EMail
                        </label>
                    </div>
                    <div class="md:w-2/3">
                        <input
                            name="email"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="inline-email"
                            type="email"
                            placeholder="jandoe@gmail.com"
                            required
                        />
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/3">
                        <label
                            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="inline-rating"
                        >
                            Rating
                        </label>
                    </div>
                    <div class="md:w-2/3">
                        <input
                            name="rating"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="inline-rating"
                            type="text"
                            placeholder="1-5"
                            required
                        />
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/3">
                        <label
                            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="inline-comment"
                        >
                            Comment
                        </label>
                    </div>
                    <div class="md:w-2/3">
                        <textarea
                            name="comment"
                            rows="5"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="inline-comment"
                            placeholder="Comment"
                            required
                        >
                        </textarea>
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/3">
                        <label
                            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="inline-filepicker"
                        >
                            Pic/Vid File
                        </label>
                    </div>
                    <div class="md:w-2/3">
                        <input
                            name="filepicker"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            type="file"
                            id="filepicker"
                            accept="image/*,video/*"
                            value="None"
                        />
                    </div>
                </div>

                <p>
                    Depending on your network uploading Image and Video files
                    may take a while.
                </p>

                <div class="md:flex md:items-center">
                    <div class="md:w-1/3"></div>
                    <div class="md:w-2/3">
                        <button
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit"
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</Layout>

<style>
    form {
        margin-bottom: 2rem;
    }
    .leaveCom {
        text-align: center;
        font-size: 1.75rem;
        margin-top: 2rem;
        color: purple;
    }
    .mainDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    h1 {
        text-align: center;
    }
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        min-height: 100vh;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
