---
import Layout from "../layouts/Layout.astro"
import HomeBtn from "../components/HomeBtn.astro"
---

<Layout title="Comments">
    <HomeBtn />
    <h1>Welcome to the services page</h1>
    <h1>Under Construction</h1>


</Layout>

<style>
    img {
        width: 300px;
    }
</style>