---
import Layout from "../layouts/Layout.astro";
import HomeBtn from "../components/HomeBtn.astro";
---

<Layout title="Comments">
    <HomeBtn />
    <div class="text-column">
        <h1>Video Gallery</h1>

        <div class="vidDiv">
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=MqwMnRDq5Rg"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/cottonwood-day-3_thumb.webp"
                        alt="test1"
                    /></a
                >
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=MqwMnRDq5Rg"
                    target="_blank"><p>Cottonwood day 3</p></a
                >
            </div>

            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=XsPilBsVEcY"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/cottonwoodremovalday2_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=XsPilBsVEcY"
                    target="_blank"><p>Cottonwood day 2</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=3kY78d8AczE"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/cottonwoodremovalday1_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=3kY78d8AczE"
                    target="_blank"><p>Cottonwood Removal Day 1</p></a
                >
            </div>
            <div class="imgDiv">
                <img
                    class="land"
                    src="https://atsdo.xyz/images/video_webp/Douglas-Fir-Removal_thumb.webp"
                    alt="test2"
                />
                <p>Douglas Fir Removal</p>
            </div>

            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=D-fbOKDuK3c"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/september-22-2023_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=D-fbOKDuK3c"
                    target="_blank"><p>September 22, 2023</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=jiOO2a3ybA4"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/back-yar-dead-pine-tree_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=jiOO2a3ybA4"
                    target="_blank"><p>Back yard dead pine tree</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=nUWrX7pqg68"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/multi-stem-cedar-tree_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=nUWrX7pqg68"
                    target="_blank"><p>Multi stem cedar tree</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=Kr-6KdrMVPk"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/uprootedalder_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=Kr-6KdrMVPk"
                    target="_blank"><p>Up rooted Adler</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=JmVcGGM9_Nc"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/april-27-2023_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=JmVcGGM9_Nc"
                    target="_blank"><p>April 27, 2023</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=62uaiG4qWV8"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/january-24-2023_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=62uaiG4qWV8"
                    target="_blank"><p>January 24, 2023</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=M4ZGLJk7Cjw"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/dyingwhitepineremoval_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=M4ZGLJk7Cjw"
                    target="_blank"><p>Dying white pine removal</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=5XRaC8RSXbM"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/douglas-fir-removal_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=5XRaC8RSXbM"
                    target="_blank"><p>Douglas fir removal</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=IZQymhYK59k"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/snow-bound-hemlock_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=IZQymhYK59k"
                    target="_blank"><p>Snow bound Hemlock</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=PHDLlOBqkjw"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/make-it-snow_test_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=PHDLlOBqkjw"
                    target="_blank"><p>Make it snow</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=mfWPIOh30nI"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/we-cut-trees-part1_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=mfWPIOh30nI"
                    target="_blank"><p>We Cut Tree's Part1</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=CVi0d1aepbE"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/big-cedar-removal_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=CVi0d1aepbE"
                    target="_blank"><p>Big cedar removal</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=MAhLq6x6jOM"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/tight-spaces_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=MAhLq6x6jOM"
                    target="_blank"><p>Tight Spaces</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=9rvT2BEYbf8"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/win-damaged-cedar_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=9rvT2BEYbf8"
                    target="_blank"><p>Win Damaged Cedar</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=wI5ZR78-aKM"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/just-getting-started_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=wI5ZR78-aKM"
                    target="_blank"><p>Just getting started</p></a
                >
            </div>
            <div class="imgDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=okVkEfmoTTA"
                    target="_blank"
                >
                    <img
                        class="land"
                        src="https://atsdo.xyz/images/video_webp/big-tree-top-removal_thumb.webp"
                        alt="test2"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/watch?v=okVkEfmoTTA"
                    target="_blank"
                >
                    <p>Big tree top removal</p></a
                >
            </div>
        </div>

        <h1 class="youtubeh1">
            <a
                class="youtubelink"
                href="https://www.youtube.com/@wecuttrees3173/featured"
                target="_blank">Subscribe to our YouTube Channel</a
            >
        </h1>

        <div class="vidDiv">
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/IlAXyoT0_uI"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/august132022_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/IlAXyoT0_uI"
                    target="_blank"><p>August 13 2022</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/ldUF1uSs-C0"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/december132023_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/ldUF1uSs-C0"
                    target="_blank"><p>December 13 2023</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/OY-DRbJj7z4"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/easterpin_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/OY-DRbJj7z4"
                    target="_blank"><p>Easter</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/IIN1L7m1BZc"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/july272022_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/IIN1L7m1BZc"
                    target="_blank"><p>July 27 2022</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/nAwZmu_PVGs"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/july82022_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/nAwZmu_PVGs"
                    target="_blank"><p>July 8 2022</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/9Mq-YzLSq-o"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/june12023_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/9Mq-YzLSq-o"
                    target="_blank"><p>June 1 2023</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/EzS2gjWNGJ0"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/logdrop_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/EzS2gjWNGJ0"
                    target="_blank"><p>Log Drop</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/xFuLlo0rk10"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/nocleanupjobonehemlocktreeinbackyard_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/xFuLlo0rk10"
                    target="_blank"><p>No Cleanup Job</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/jmvoBIxo-v4"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/september222023_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/jmvoBIxo-v4"
                    target="_blank"><p>September 22 2023</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    href="https://www.youtube.com/shorts/adLBtc5uBwM"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/smallrigout_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/adLBtc5uBwM"
                    target="_blank"><p>Small Rig Out</p></a
                >
            </div>
            <div class="shortsDiv">
                <a
                    href="https://www.youtube.com/shorts/jEWxCjmNvUU"
                    target="_blank"
                >
                    <img
                        class="shorts"
                        src="https://atsdo.xyz/images/shorts_webp/topout_thumb.webp"
                        alt="test3"
                    />
                </a>
                <a
                    class="atslink"
                    href="https://www.youtube.com/shorts/jEWxCjmNvUU"
                    target="_blank"><p>Top Out</p></a
                >
            </div>
        </div>
    </div>
</Layout>

<style>
    .vidDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .imgDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .land {
        width: 300px;
        height: 169px;
        border-radius: 8px;
        margin: 1em;
    }
    .shortsDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .shorts {
        width: 200px;
        height: auto;
        border-radius: 8px;
    }
    .youtubeh1 {
        margin: 2.25rem;
    }
    .youtubelink {
        font-size: 2.25em;
        font-weight: bold;
        text-decoration: none;
        color: red;
    }
    .atslink {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: blue;
    }
    h1 {
        text-align: center;
        margin-bottom: 1.5em;
    }
</style>
