---

---

<a href="tel:3605168933">
    <h1 class="instructions">360 516 8933</h1>
</a>

<style>
    .instructions {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        border-radius: 8px;
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );

        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        color: antiquewhite;
        text-align: center;
    }
    a:hover {
        color: green;
    }
    .instructions:hover {
        border-color: green;
        color: green;
    }
    @media (min-width: 350px) {
        .instructions {
            font-size: 2.5rem;
        }
    }
</style>
