---

---
<h1 class="title">Alpha Tree Service
    <!-- <span class="text-gradient">Service</span> -->
</h1>

<style>
    .title {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	}
    @media (max-width: 400px) {
        .title {
            font-size: 2.3rem;
        }
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
